<%= turbo_stream_from :questions %>

<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<h1 class="mb-2">Questions</h1>

<% if policy(:question).new? %>
  <%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg mb-1' %>
<% end %>

<div>
  <%= link_to "Back to home page", root_path, class: 'btn btn-primary btn-lg mb-1' %>
</div>

<div class="mt-3">
  <%= pagination @pagy %>
</div>

<%= turbo_frame_tag :questions do %>
  <div class="flex flex-col" >
    <%= render @questions %>
  </div>
<% end %>

<div class="mt-3 pb-2">
  <%= pagination @pagy %>
</div>
