<% provide :page_title, "Question #{@question.id}" %>
<% currently_at 'Questions' %>

<%= render @question %>

<% if @question.comments.size > 0 || current_user.present? %>
  <%= render 'comments/commentable', commentable: @question, comment: @comment,
    html_id: 'questionComments' %>
<% end %>

<hr class="my-3">

<% if @question.answers.size > 1 || current_user.present? %>
  <%= render 'answers/form' %>

  <h2 class="mt-5">Answers:</h2>

  <div class="mt-3">
    <%= pagination @pagy %>
  </div>

    <%= render @answers %>

  <div class="mt-3">
    <%= pagination @pagy %>
  </div>
<% end %>