<% provide :page_title, "Question #{@question.id}" %>
<% currently_at 'Questions' %>

<%= render @question %>

<%= render 'comments/commentable', commentable: @question, comment: @comment,
  html_id: 'questionComments' %>

<hr class="my-3">

<%= render 'answers/form' %>

<h2 class="mt-5">Answers:</h2>

<div class="mt-3">
  <%= pagination @pagy %>
</div>

  <%= render partial: 'answers/answer', collection: @answers,
    as: :answer, locals: { question: @question } %>

<div class="mt-3">
  <%= pagination @pagy %>
</div>
