<% provide :page_title, "Question #{@question.id}" %>
<% currently_at 'Questions' %>

<%= link_to "Back to questions page", questions_path, class: 'btn btn-primary btn-lg mb-1' %>

<%= render @question %>

<% if @question.comments.size > 0 || current_user.present? %>
  <h3 class="mt-3">Question comments</h3>

  <%= render 'comments/commentable', commentable: @question, comment: @comment %>
<% end %>

<% if @question.comments.size > 0 || current_user.present? %>
  <h3 class="mt-3">Answers</h3>

  <%= render 'answers/form' %>

  <div class="mt-3">
    <%= pagination @pagy %>
  </div>

    <%= render @answers.sort_by { |answer| answer.cached_votes_score }.reverse %>

  <div class="mt-3">
    <%= pagination @pagy %>
  </div>
<% end %>