<%= render 'shared/errors', object: @search_temperature %>
<%= form_with(model: search_temperature) do |form| %>
  <div>
    <%= form.text_field :location,  placeholder: "Enter Location name..." %>
  </div>

  <div>
    <%= form.submit 'Search' %>
  </div>
<% end %>
<div class="links todo_list_title">
  <%= link_to "Home page", root_path %>
</div>