<%= tag.article class: 'mt-3 card border-0', style: "max-width: 500px;", id: dom_id(comment) do %>
  <selection class="card-header">
    <div class="align-top">
      <div class="row">
        <div class="col">
          <%= link_to image_tag(comment.user.gravatar_url, class: 'rounded m-1'), user_path(comment.user)  %>
          <%= link_to comment.user.nickname, user_path(comment.user) %>
        </div>
        <div class="col right mt-2">
          <small><time datetime="<%= comment.created_at_format %>">
            <%= comment.created_at_format %></time></small>
        </div>        
      </div>
    </div>
  </selection>

  <div class="card-body">
    <section class="card-text mb-3">
      <div class="col-sm-9">
        <p>
          <%= sanitize comment.body %>
        </p>
        <% if policy(comment).destroy? %>
          <%= button_to 'Delete',
            polymorphic_path([comment.commentable, comment]),
            class: 'btn btn-danger btn-sm', method: :delete %>
        <% end %>
      </div>
    </section>
  </div>
<% end %>
