<% is_current_comment = comment&.for?(commentable) %>
<% comment_builder = is_current_comment ? comment : commentable.comments.build %>

<h2>Comments:</h2>

<% if policy(comment_builder).create? %>
  <%= form_with model: [commentable, comment_builder],
    class: 'pt-3 border-top my-2' do |f| %>
    <% if is_current_comment %>
      <%= render 'shared/errors', object: comment %>
    <% end %>

    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= f.label :Your_comment %>
      </div>

      <div class="col-sm-10">
        <%= f.text_area :body, class: 'form-control form-control-sm' %>
      </div>
    </div>

    <%= f.submit 'Submit', class: 'btn btn-sm btn-primary' %>
  <% end %>
<% end %>

<%= render commentable.comments.includes(:user) %>
