<%= render 'shared/errors', object: @todo_list %>

<%= form_with(model: todo_list) do |form| %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div class="links todo_list_title">
    <%= form.submit %>
  </div>
<% end %>
