<% provide :page_title, "User page" %>
<% currently_at 'User page' %>

<div class="text-center">
  <h3><%= @user.name %></h3>

  <%= image_tag @user.gravatar_url, class: 'rounded m-1', size: '250x250' %>

  <% if policy(:user).new? %>
    <p class="mt-3"><%= link_to 'Edit profile',
      edit_user_path(@user), class: 'btn btn-primary' %></p>
  <% end %>

  <% if current_user&.role == 'admin' %>
    <% if @user.banned == false %>
    <%= button_to 'Ban', ban_admin_user_path(@user), class: 'btn btn-danger', method: :put %>
    <% else %>
      <%= button_to 'Unban', ban_admin_user_path(@user), class: 'btn btn-warning', method: :put %>
    <% end %>
  <% end %>
</div>

<% if @user.questions.any? %>
  <h3 class="mt-3 text-center">User Questions: <%= @user.questions.count %></h3>

  <div class="pb-3">
    <%= render @user.questions.sort_by { |question| question.cached_votes_score }.reverse %>
  </div>
<% end %>
