<%= provide :main_menu do %>
  <header class="p-3 bg-primary text-white">
    <div class="container">
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><%= nav_tab 'Home', root_path,
            class: 'nav-link px-2', current_page: current_page %></li>
        </ul>

        <% if user_signed_in? %>
          <ul class="nav col-12 col-lg-auto mb-2 justify-content-center mb-md-0">
            <li><%= link_to (image_tag current_user.gravatar_url,
              class: 'rounded m-1'), current_user %>
            </li>

            <% if policy([:admin, :user]).index? %>
              <li>
                <%= nav_tab 'Admin panel', admin_users_path,
                  class: 'nav-link px-2', current_page: current_page %>
              </li>
            <% end %>

            <li>
              <%= nav_tab current_user.nickname, current_user,
                class: 'nav-link px-2', current_page: current_page %>
            </li>

            <li>
              <%= button_to 'Log out', session_path, class: 'btn btn-dark m-1 p-2',
                method: :delete %>
            </li>
          </ul>
        <% else %>
          <ul class="nav col-12 col-lg-auto mb-2 mb-md-0">
            <li><%= nav_tab 'Sign Up', new_user_path,
              class: 'nav-link px-2', current_page: current_page %></li>

            <li><%= nav_tab 'Log In', new_session_path,
              class: 'nav-link px-2', current_page: current_page %></li>
          </ul>
        <% end %>
      </nav>
    </div>
  </header>
<% end %>
