<%= render 'shared/errors', object: @answer %>

<% if policy(@answer).create? %>
  <h2>Your answer</h2>
  <%= form_with model: [@question, @answer] do |form| %>
    <div class="mb-3 row">
      <div class="col-sm-2 col-form-label">
        <%= form.label :Your_answer %>
      </div>

      <div class="col-sm-10">
        <%= form.text_area :body, class: 'form-control' %>
      </div>
    </div>

    <%= form.submit "Submit answer!", class: 'btn btn-primary' %>
  <% end %>
<% end %>
